.owner-date-picker-comp {
  margin-left: 85px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .date {
    color: #849095;
  }
  .date-range {
    /* justify-content:center; */
    gap: 30px;
    background-color: rgb(239, 242, 247);
    // width: 50%;
  }
  .dis-button {
    border: 1px solid #1976d2;
    height: 80px;
  }
}
