.check-in-comp {
  margin: 20px;

  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  width: 40%;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    .price-night {
      font-weight: bold;
      margin-right: 3px;
    }
    .rate-container {
      display: flex;

      justify-content: space-between;
      align-items: center;
    }
    .space {
      margin: 0 6px;
      font-weight: bold;
    }
  }

  .check-in-guests-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;

    .check-in-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      // padding: 15px;
      // margin: 10px;
    }
    .check-in-mini-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px;
      padding-left: 20px;
      align-items: left;
    }
    .border {
      border-right: 1px solid rgb(221, 221, 221);
    }
    .guests-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 10px 10px 10px 20px;
    }
    .guests-container-expended {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid black;
      border-radius: 12px;
      padding: 10px 10px 10px 20px;
    }
    .guests-mini-container {
      display: flex;
      flex-direction: column;
    }
    .guests-menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mini-header {
      font-size: x-small;
      font-weight: bold;
    }
    .guests-rubric {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 10px 20px;
    }
    .guests-rubric-header {
      font-weight: bold;
    }
    .guests-buttons-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-right: 20px;
    }
    .guests-button {
      color: rgb(221, 221, 221);
      // width: 50px;
    }
    .guests-button:hover {
      color: black;
    }
    .guests-menu-items-container {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
    }
    .guests-close-button-container{
      display: flex;
      justify-content: end;
      .guests-close-button{
        border-radius: 10px;
        font-family: inherit;
        font-weight: bold;
        margin:20px 10px 10px 10px
      }
    }
  }

  .reserve-button-container {
    margin-top: 20px;
    .reserve-button {
      width: 100%;
      background-color: rgba(229, 29, 83, 255);
      color: white;
      font-weight: 800;
      font-size: larger;
      font-family: inherit;
      border: none;
      border-radius: 8px;
      padding: 8px;
      letter-spacing: 1px;
    }
    .reserve-button:hover{
      background-color:#b20f4e
    }
  
  }
  .wont-charge-para{
    text-align: center;
  }
  .price-details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;

    .price-details{
      margin: 0;
    }
  }
  .border-total {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .bold-total{
    font-weight: bold;
  }
}
.mobile{
  width: 80%;
}
