.posts-display-comp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: 15px;

    .spinner{
        justify-self: center;
    }
}