@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

.rdrDefinedRangesWrapper {
  display: none;
}
.rdrMonth {
  /* display: none; */
}

.btn {
  background: transparent;
  cursor: pointer;
  margin: 0;
  border: 1px solid #dddddd;
  border-radius: 20px;
  color: rgba(113, 113, 113, 255);
}
.btn:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: unset;
  color: inherit;
}

header {
  padding: 0 80px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.date{
  color: #849095;

 
}
.date-range{
  /* justify-content:center; */
  gap:30px;
  background-color: rgb(239, 242, 247);
  width: 50%;
}

.img {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  /* border: 2px solid black; */
}
.posts-container {
  flex-wrap: wrap;
}
.post-info {
  width: 100%;
}
.post-header {
  margin: 0;
}
.inline {
  display: inline;
}
.price-container {
  width: 100%;
}
.bold {
  font-weight: bold;
}

.gap {
  gap: 3px;
}
.desc {
  letter-spacing: 2px;
  margin: 0;
}
